{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        {{ bag_items }}
                    </div>
                {% else %}
                    <p class="lead mb-5">Your Bag is empty</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <img src="https://img.icons8.com/color/25/000000/chevron-left.png"/>
                        </span>
                        <span class="text-uppercase">keep shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}