{% extends 'base.html' %}
{% load static %}


{% block page_header %}
    <div class="container-fluid header-container bg-white">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid pb-5 bg-white">
            <div class="row">
                <div class="col-10 col-lg-8 mt-3 mx-auto">

                   <div class="row">
                       <div class="col text-center">
                           <h2 class="logo-font mb-4 text-black">Add A New Blog</h2>
                       </div>
                   </div>

                   <div class="row">
                       <div class="col-12 col-md-8 mx-auto">
                           <!-- Add blog -->
                           <form method="POST" action="{% url 'add_blog' %}" class="form mb-2" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                    {% if field.name != 'image' %}
                                        {{ field | as_crispy_field }}
                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                {% endfor %}
                                <div class="text-righ">
                                    <a class="btn btn-primary border border-white rounded" href="{% url 'blog' %}">Cancel</a>
                                    <button class="btn btn-primary border border rounded" type="submit">Add Blog Content</button>
                                </div>
                           </form>
                       </div>
                   </div>

                </div>
            </div>
        </div>
{% endblock %}
